.google-icon {
    height: 32px;
    width: 32px;
}
.span-g {
    padding: 0;
}
.form-control {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#username {
    font-family: Verdana,sans-serif;
    color: whitesmoke;
    font-weight: 900;
}
.dis-inline {
	display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
}
.barcode {
	white-space:pre;
}
.float {
	float: right;
}
.google-text {
	color: white;
}
.display-center {
	display: block;
	margin: 0 auto;
}
.drawer-center {
	margin-left: 100px;
}
.li-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #272829;
    margin: 1em 0;
    padding: 0;
}
div.margin {
	margin-top: 10px;
}
span.margin {
	margin-bottom: 10px;
}

div.dis-center {
	margin: 0 auto;
	width: 400px;
	position: relative;
	margin-bottom: 5px;
}

div.dis-group {
    display: inline-block;
}
div.container-fluid {
	font-family: Courier New, sans-serif;
}
.border {
    border-style: solid;
	border-width: 2px;
	border-color: #909497;
}
button.btn {
	font-weight: bolder;
}
ul.dropdown-menu {
	padding:5px;
	text-align: center;
}
ul#logged-menu li {
    
}
#logged-menu:hover {
    background-color: #B7D3AF;
}
li.float {
	float: right;
}
li.drawer {
    margin-left: 0;
    padding-left: 0;
    color: white;
    text-align: left;
}
li:hover {
	background-color: #E8F8F5;
}
li.drawer:hover {
    background-color: #3F3F3F;
}
img.icon-size {
	width: 48px;
	height:48px;
}
img.back-btn {
	width: 48px;
	height: 48px;
}

img.back-btn:hover {
    background-color: #5e5e5e;
}

img.back-btn:active {
    transform: translateY(4px);
}

img.close-icon {
    height: 48px;
    width: 48px;
}
.drawer-icon-frame {
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius: 50%;
    /*border: 3px solid transparent;*/
    /*border-image-source: linear-gradient(#D7BDE2, #2E86C1);*/
    /*border-image-slice: 1;*/
    /*border-image-width: 1;*/
    /*border-image-radius: 50px;*/
    text-align: center;
    margin: 0 auto;
}
img.drawer-icon {
    width:100px;
    height:100px;
    display: block;
    position: relative;
    margin: 0 auto;
}
img.list-icon {
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 20px;
    vertical-align: text-bottom;
}
img.play-icon {
    width: 48px;
    height: 48px;
}

img.help {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

#top-bar {
	height: 150px;
	vertical-align: center;
}
#left-screen {
	height: 770px;
}
#rank-bar, #game-list {
    height: 370px;
}
div.icon-style {
	width: 48px;
	height: 48px;
	margin-left: 3px;
	margin-top: 3px;
}
button.btn-login {
	background-color: #99C9D3;
	color: white;
}
button.btn-signup {
	background-color: #65AEBD;
	color: white;
}
button.btn-logout {
	background-color: #213343;
    width: 80%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana,sans-serif;
    color: white;
	position: absolute;
    left: 40px;
}
button.btn-begin {
    border-radius: 10px;
    margin-bottom: 30px;
}

p.welcome-text {
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    color: black;
    text-shadow: 4px 4px #ccc;
    padding-bottom: 10px;
}

body {
	width: 100%;
	height: 700px;
}
hr {
    color: #080808;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555555;
    margin: 1em 0;
    padding: 0;
}
h2 {
	font-weight: bold;
	margin: 0 0;
}
.button {
      border-radius: 4px;
      border: none;
      padding: 0 0 0 20px;
      color: #FFFFFF;
      vertical-align: top;
      font-family: Courier New, sans-serif;
      font-size: 28px;
      font-weight: bold;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      position: relative;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button-refresh {
  cursor: pointer;
  outline: none;
  background-color: #B8BCC0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

.button-refresh:hover {background-color: #99AFC4}

.button-refresh:active {
  background-color: #99AFC4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*For modal*/
/* The Modal (background) */
.modal-content-bg {
	margin-top: 150px;
  	background-image: url("http://file.market.xiaomi.com/thumbnail/jpeg/l395/AppStore/0c8cd44931e3f4cdc04d9064a684f75dcc59f2872");
}
.modal-header {
	text-align: center;
	font-family: Courier New, sans-serif;
	font-size: 40px;
	background-color: #729AA2;
}

#score, #score-number {
    font-family: "Apple SD Gothic Neo";
    font-size: 28px;
    font-weight: bold;

}
#help-content.modal-content {
	top: 60px;
	width: 85%;
	margin: 0 auto;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}



/* Hover buttons */
#mySidenav a {
    position: relative;
    float: right;
    top: -60px;
    transition: 0.3s;
    padding: 15px;
    font-family: Verdana,sans-serif;
    font-size: 25px;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    border-radius: 0px 0 0 15px;
}

#mySidenav a:hover {
    top: 0;
}

#ins {
    font-weight: bold;
    top: 20px;
    background-color: #76BB85;
}
.item-ins {
	margin-top: 50px;
}



/* More CSS */
.index-pure {
    padding: 20px 20px 20px 0;
    text-align: center;
}
.index-pure-blank {
    height:130px;
    width:100%;
}
.index-pure-frame {
    text-align: center;
}
.index-pure-username {
    margin: 30px 0 0 30px;
}

.index-ul {
    margin-top: 50px;
    margin-left: 0;
}